@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.Logo{
    font-family: 'Great Vibes', cursive;
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
    color: black;
    /* color: #337ab7; */
}

.Logobar{
    background: rgb(46, 46, 46);
    width: 100% 40%;
    padding: 1px 0;
    margin-top: -20px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}